---
const { header, title, desc, link, cert } = Astro.props;
---

<div class="card">
    <div>{header}</div><hr>
    <h5>{title}</h5>
    <p>{desc}</p>
    <a href={link} target="_blank">{cert}</a>
</div>